body {
  font-family: 'Reenie Beanie', cursive;
  background-image: url('../img/bg.jpg');
  background-size: cover;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.phobia {
  font-size: 1.8em;
}
.icon::before {
  font-size: 2em;
  color: #212529;
  display: inline-block;
  margin-left: .2em;
  margin-right: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}